---
import { apiService } from "../../../api-service";
import Layout from "../../../layouts/Layout.astro";

const { tradingAppId } = Astro.params;

const tradingApp = await apiService.getTradingAppById(tradingAppId as string);
---

<Layout pageTitle={tradingApp.name}>
    <div>{tradingApp.name}</div>
    <div>{tradingApp.description}</div>
    <div>{tradingApp.category}</div>
    <div>{tradingApp.createdTime}</div>
</Layout>